.panel {
	padding: 40px;
	display: flex;
	flex-direction: column;
	gap: 24px;
}

.panel-items {
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.panel-item {
	padding: 16px;
	border-radius: 4px;
	background: var(--light-green);
}

.panel-item-title {
	display: flex;
	justify-content: space-between;
	align-items: center;
	gap: 8px;
}

.panel-item-info {
	display: flex;
	align-items: center;
	gap: 20px;
}

.panel-input {
	background-color: var(--light-gray, #f4ffff);
	border-radius: 0.25rem;
	border: 2px solid var(--primary);
	font-size: 16px;
	padding: 8px 4px;
	font-family: "Montserrat", sans-serif;
	font-size: 16px;
	width: 180px;
}

.panel-item-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
}

.panel-button {
	display: flex;
	padding: 8px 12px;
	align-items: center;
	gap: 4px;
	border-radius: 24px;
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.25px;
	cursor: pointer;
}

.edit-button {
	color: #437a9c;
	border: 1px solid var(--Hyperlink, #437a9c);
	background: #dbe8f0;
}

.delete-button {
	color: #d6495a;
	border: 1px solid var(--Error, #d6495a);
	background: #faeaec;
}

.ok-button {
	color: green;
	border: 1px solid green;
	background: #dbe8f0;
}

.panel-item-details {
	padding: 16px 0px;
	display: flex;
	flex-direction: column;
	gap: 16px;
}

.panel-item-detail-item {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 16px;
}

.panel-item-details-buttons {
	display: flex;
	align-items: center;
	gap: 10px;
	margin-left: 20px;
}

.panel-button-small {
	padding: 5px;
	border-radius: 12px;
}

@media (max-width: 768px) {
	.panel {
		padding: 16px;
	}

	.panel-item-info {
		flex-direction: column;
		text-align: start;
	}

	.panel-item-info-price {
		text-align: start;
	}
	.panel-item-title {
		display: flex;
		flex-direction: column;
		justify-content: space-between;
		align-items: flex-start;
		gap: 8px;
	}

	.panel-item-buttons {
		/* flex-direction: column; */
		justify-content: center;
		width: 100%;
		margin-top: 20px;
	}

	.panel-button {
		padding: 4px 6px;
		align-items: center;
		gap: 4px;
		border-radius: 16px;
		font-size: 12px;
		letter-spacing: 1px;
	}

	.panel-item-detail-item {
		display: flex;
		flex-direction: column;
		justify-content: flex-start;
		align-items: center;
		margin-top: 20px;
	}

	.panel-item-details-buttons {
		margin-left: 10px;
	}
}
