.quotes-illustration-close {
    height: 72px;
    position: relative;
    width: 70px;
  }
  
  .quotes-illustration-close .vector {
    height: 72px;
    left: 12px;
    top: 18px;
    width: 70px;
    transform: rotate(180deg)
  }