.section-quienes-container {
	background-color: var(--light-green);
	width: 100%;
	margin: 0 0 1.5rem 0;
	display: flex;
	padding: 0px 40px;
	align-items: center;
	gap: 44px;
	/* align-self: stretch; */
}

.quienes-img-container {
	display: flex;
	height: 100%;
	width: 100%;
	padding-left: 20px;
	padding-right: 20px;
	min-height: 26.25rem;
	background-color: white;
}

.img-quienessomos {
	object-fit: cover;
	width: 100%;
	height: 100%;
	min-height: 26.25rem;
}

.quienes-texto-container {
	display: flex;
	padding: 0px 0px 40px 0px;
	flex-direction: column;
	justify-content: center;
	width: 90%;
}

.quienes-title {
	padding: 4px 16px;
}
.quienes-texto {
	display: flex;
	width: 100%;
	padding: 16px 16px 8px 16px;
	justify-content: center;
	align-items: center;
}

.quienes-texto p {
	line-height: 28px; /* 175% */
}

.quienes-somos-mobile {
	display: none;
}

/*-------------------- MEDIA QUERIES ------------------------*/

@media (max-width: 768px) {
	.section-quienes-container {
		display: block;
		height: 100%;
		width: 100%;
		margin: 0 0 2rem 0;
		padding: 0;
	}

	.section-quienes-container .quienes-img-container {
		display: none;
	}

	.quienes-texto-container {
		display: flex;
		padding: 0px 0px 40px 0px;
		flex-direction: column;
		justify-content: center;
	}

	.quienes-title {
		padding: 4px 16px;
	}
	.quienes-texto {
		display: flex;
		width: 100%;
		padding: 16px 16px 8px 16px;
		justify-content: center;
		align-items: center;
	}

	.quienes-somos-image-container-mobile {
		width: 100%;
		height: 29rem;
		position: relative;
		overflow: hidden;
		background: url("/quienes.jpeg") center / cover,
			lightgray 0px -97px / 100% 133.929% no-repeat;
	}

	.quienes-somos-image-container-mobile:after {
		display: block;
		content: "";
		position: absolute;
		top: 90%;
		left: -10%;
		height: 30%;
		width: 150%;
		background: var(--light-green);
		-webkit-transform: rotate(5deg);
		-moz-transform: rotate(5deg);
		transform: rotate(5deg);
		z-index: 3;
	}
}

@media (max-width: 1024px) {
	.section-quienes-container {
		gap: 20px;
	}
}
