.productos {
	display: flex;
	/* padding: 24px 16px; */
	flex-direction: column;
	align-items: flex-start;
	gap: 16px;
	margin-bottom: 24px;
}

.products-cards-container {
	padding: 16px 0px;
	display: grid;
	gap: 16px;
	/* grid-template-columns: repeat(auto-fit, minmax(156px, 315px)); */
	grid-template-columns: repeat(auto-fit, minmax(156px, 1fr));
	padding: 0 10px;
}

.productos-button-container {
	padding: 12px 0px 24px 0px;
	width: 100%;
	display: flex;
	justify-content: center;
}

.productos-livings {
	width: 100%;
	padding: 16px;
	margin: 0 auto;
}

@media (min-width: 768px) {
	.productos-livings {
		width: 100%;
		padding: 0px 40px;
		max-width: 1440px;
	}
}
