.galeyconteiner {
	background-color: rgb(255, 255, 255);
	overflow-x: hidden;
}

.galery ul,
li {
	list-style: none;
	display: flex;
	align-self: center;
}

.galery li {
	display: inline;
	align-items: center;
}
.galery img {
	margin-top: 10px;
}

#imagina {
	font-size: 1.5rem;
	font-weight: 400;
	line-height: 2rem;
	/* text-align: center; */
	margin-top: 1.5rem;
	padding: 0px 16px;
}

.slider-container {
	display: flex;
	padding: 0rem 1rem;
	align-items: flex-start;
	gap: 1rem;
}

#conteinerimages {
	border-radius: 20px;
	border: 1px solid black;
	overflow-x: hidden;
}
#listimages li {
	display: flex;
	padding: 0rem 0.5rem 1rem;
	gap: 0.5rem;
	justify-content: center;
	align-items: center;
	text-align: center;
}

.leftArrow {
	position: absolute;
	/*todo -----para que quede en la imagen-----*/
	transform: translate(0, 350%);
	left: 30px;
	cursor: pointer;
	z-index: 1;
}
.rightArrow {
	position: absolute;
	transform: translate(0, 350%);
	right: 30px;
	cursor: pointer;
	z-index: 1;
}
