.galeyconteiner{
  background-color: rgb(255, 255, 255);
  overflow-x: hidden;
}

ul, li{
  list-style: none;
  display: flex;
  align-self: center;
}

li {
  display: inline;
  align-items: center;
}
img {
  margin-top: 10px;
}

#imagina {
  color: var(--Black, #011A17);
  font-family: 'Montserrat', sans-serif;
  font-size: 1.5rem;
  font-style: normal;
  font-weight: 400;
  line-height: 2rem; 
  text-align: center;
  margin-top: 1.5rem;
}
.slider-container {
  display: flex;
  padding: 0rem 1rem;
  align-items: flex-start;
  gap: 1rem;
}
#conteinerimages{
  border-radius: 20px;
  border: 1px solid black;
  overflow-x: hidden;
}
#listimages li{
  display: flex;
  padding: 0rem .5rem 1rem;
  align-items: flex-start;
  gap: .5rem;
  justify-content: center;
	align-items: center;
	text-align: center;
    
}

.leftArrow{
  position: absolute;
  transform: translate(0, 350%);
  left: 30px;
  cursor: pointer;
  z-index: 1;
}
.rightArrow{
  position: absolute;
  transform: translate(0, 350%);
  right: 30px;
  cursor: pointer;
  z-index: 1; /*todo -----para que quede en la imagen-----*/
}
