.conteiner-each{
  height: 80%;
  width: 80%;
}
.frame-each {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  position: relative;
  padding: 3rem 1rem;
  margin: 2rem;
  width: 100%;
} 
.quote-each {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  gap: 10px;
  position: relative;
  width: 100%;
  height: 100%;

}
.quotes-illustration {
  top: -45px;
  left: -25px;
  width: fit-content;
  position: absolute;
 
}
.quotes-illustration-close{
	transform: rotate(180deg);
	width: fit-content;
}

.div-each {
  align-items: center;
  align-self: stretch;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: fit-content;
}
.frame-each .text-wrapper-each {
  width: fit-content;
  position: relative;
  
}
.frame-each .stars-instance-each {
  position: relative;
  width: 120px;
}

 .frame-each .p-each {
  font-size: .9rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.4;
  color: var(--black);
  padding:  1rem 2%;
  width: 90%;
}

@media (min-width: 970px) {

  .conteiner-each{
    display: none;
  }

  
}