.conteiner-each {
  height: 90%;
  width: 80%;
  align-content: center;
  padding: 0rem 0 0 2rem;
}
.frame-each {
  align-items: center;
  display: flex;
  flex-direction: column;
  position: relative;
  margin: 2rem;
  width: fit-content;
  align-items: end;
}
.quote-each {
  align-items: flex-start;
  align-self: center;
  display: flex;
  flex: 0 0 auto;
  flex-direction: column;
  position: relative;
  width: 100%;
  padding: 1rem;
  margin: 1rem ;
}
.quotes-illustration {
  left: -40px;
  top: -35px;
  position: absolute;
  height: 72px;
  height: 70px;
}
.quotes-illustration-close {
  transform: rotate(180deg);
  width: 72px;
  height: 70px;
  align-self: flex-end;
  
}
.div-each {
  align-items: center;
  display: flex;
  flex: 0 0 auto;
  justify-content: space-between;
  position: relative;
  width: fit-content;
  gap: 1rem;
}
.frame-each .text-wrapper-each {
  width: fit-content;
  position: relative;
  margin: 0rem 0.1rem;
  

}
.frame-each .stars-instance-each {
  position: relative;
  width: 120px;
}
.frame-each .p-each {
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 100;
  line-height: 1.4;
  color: var(--black);
  padding: 1rem 2%;
  width: 90%;
}

@media (min-width: 970px) {
  .conteiner-each {
    display: none;
  }
}
