.question-bar {
	background: var(--Gray, #eef0f0);
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	padding: 16px;
	border-radius: 8px;
	border: 2px solid var(--primary-80, #6ab4ab);
}

.question-bar span {
	line-height: 22px;
	letter-spacing: 0.35px;
}

.question-bar a {
	color: var(--Hyperlink, #539ac6);
	line-height: 22px;
	letter-spacing: 0.35px;
	text-decoration-line: underline;
}

@media (min-width: 768px) {
	.question-bar span {
		font-size: 16px;
		line-height: 28px; /* 133.333% */
	}

	.question-bar a {
		font-size: 16px;
		line-height: 28px;
	}
}
