.producto-detalle-title {
	padding: 32px 16px 16px 16px;
}

.producto-detalle-container {
	display: flex;
	flex-direction: column;
	gap: 10px;
	padding: 16px 0px;
	align-self: stretch;
}

.producto-detalle-galery {
	width: 100%;
	min-height: 100%;
	/* margin-bottom: 30px; */
}

.producto-detalle {
	background-color: var(--light-gray);
	min-height: 100%;
	display: flex;
	flex-direction: column;
	justify-content: space-between;
	line-height: 28px; /* 175% */
	align-self: stretch;
	margin: 0px 16px;
}
.producto-description {
	padding: 16px;
	display: flex;
	flex-direction: column;
	gap: 20px;
}

.producto-description ul li {
	margin-left: 20px;
	list-style: disc;
}
.producto-price {
	border-radius: 0px 0px 4px 4px;
	background: var(--primary-15, #c9e8e4);
	padding: 20px 30px 20px 20px;
	display: flex;
	justify-content: flex-end;
}

.producto-price-button {
	display: none;
}

.producto-price h3 {
	font-size: 24px;
	font-weight: 400;
	line-height: 32px; /* 133.333% */
	text-align: right;
}

.producto-detalle-contacto {
	padding: 16px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.35px;
}

.producto-detalle-contacto a {
	color: var(--Hyperlink, #539ac6);
	text-decoration-line: underline;
	cursor: pointer;
}

.producto-detalle-contacto-desktop {
	display: none;
}

.producto-detalle-footer {
	margin: 16px 16px 40px 16px;
}

@media (min-width: 768px) {
	.producto-detalle-title {
		padding: 32px 40px 16px 40px;
	}

	.producto-detalle-container {
		display: flex;
		/* flex-direction: row; */
		gap: 10px;
		padding: 16px 40px;
	}

	.producto-detalle {
		margin: 0px;
	}

	.producto-description {
		padding: 30px;
		gap: 30px;
	}

	.producto-description-details {
		display: flex;
		flex-direction: column;
		gap: 10px;
	}
	.producto-price-button {
		display: block;
	}

	.producto-detalle-footer {
		margin: 16px 40px 40px 40px;
	}

	.producto-price {
		padding: 20px 30px 20px 20px;
		justify-content: space-between;
		text-align: left;
	}

	.producto-price h3 {
		text-align: left;
	}

	.producto-detalle-contacto {
		display: none;
	}

	.producto-detalle-contacto-desktop {
		display: block;
	}
}

@media (min-width: 1024px) {
	.producto-detalle-galery {
		width: unset;
		/* max-width: 45%; */
		/* min-height: 100%; */
		margin-bottom: 0px;
	}

	.producto-detalle-container {
		display: flex;
		flex-direction: row;
		gap: 30px;
		padding: 16px 40px;
	}
}
