.navegacion {
	display: flex;
	justify-content: space-between;
	width: 100%;
	padding: 0px 40px;
	background-color: var(--white);
}

.navegacion-siguiente a {
	cursor: pointer;
}

.navegacion-texto {
	color: var(--Black, #011a17);

	font-size: 14px;
	line-height: 22px;
	letter-spacing: 0.35px;
}

.navegacion-texto a:hover {
	text-decoration: underline;
}

@media (max-width: 767px) {
	.navegacion {
		padding: 0px 16px;
	}

	.navegacion-siguiente {
		display: none;
	}
}
