.wp-container {
	display: flex;
	width: 70px;
	height: 70px;
	padding: 10px;
	justify-content: center;
	align-items: center;

	position: fixed;
	/* left: 90%; */
	right: 30px;
	bottom: 8%;
	/* margin-right: 70px; */
	border-radius: 38px;
	background: #25d366;
	box-shadow: 4px 4px 4px 1px rgba(1, 26, 23, 0.2);
	z-index: 2;
	cursor: pointer;
}

@media (min-width: 768px) {
	.wp-container {
		width: 88px;
		height: 88px;
		padding: 14px;
		border-radius: 46px;
		right: 50px;
	}
}
