.wp-container {
	display: flex;
	width: 70px;
	height: 70px;
	padding: 10px;
	justify-content: center;
	align-items: center;

	position: sticky;
	left: 90%;
	bottom: 8%;
	margin-right: 20px;
	border-radius: 38px;
	background: #25d366;
	box-shadow: 4px 4px 4px 1px rgba(1, 26, 23, 0.2);
	z-index: 2;
	cursor: pointer;
}

@media (min-width: 768px) {
	.wp-container {
		width: 88px;
		height: 88px;
		padding: 14px;
		border-radius: 46px;
	}
}
