*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }

#navbar{
    display: flex;
    width: 100%;
    align-items: center;
    height: 4rem;
    padding: 1rem 0.55rem 1rem 1rem;
    justify-content: space-between;
   
}



