.navbar {
	display: flex;
	justify-content: space-between;
	align-items: center;
	background-color: var(--white);
	padding: 12px 29px 12px 40px;
	box-shadow: 0px 1px 6px 1px rgba(69, 161, 150, 0.2);
	width: 100%;
	height: 72px;
	position: fixed;
	top: 0px;
}

.navbar > * {
	position: unset;
}

.menu-container {
	/* width: 90%; */
}
.navbar ul {
	display: flex;
	transition: transform 0.3s ease-in-out;
	gap: 40px;
	align-items: center;
	position: static;
}

.navbar ul li {
	list-style: none;
}
.navbar ul li a {
	display: block;
	text-decoration: none;
	color: var(--black);
	padding: 10px;
	font-size: 1rem;
	font-weight: 400;
	line-height: 28px; /* 175% */
}

.menu-item .active {
	border-bottom: 6px solid var(--Primary, #45a196);
}

.menu-item a:hover,
.menu-item a:active {
	border-bottom: 6px solid var(--Primary, #45a196);
	color: var(--primary);
}

.navbar .botonburguer {
	display: none;
}

.navbar-button {
	border: 2px solid var(--primary);
	padding: 8px 16px;
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
}

.navbar-button-text {
	color: var(--primary);
	transform: skew(20deg);
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);

	font-size: 14px;
	font-weight: 500;
	line-height: 19.6px; /* 140% */
	letter-spacing: 1.25px;
}

.navbar-button:hover {
	background: var(--light-green, #dbf0ed);
	border: 2px solid #c9e8e4;
}

/*? ---------------------------------- MEDIA QUERY ---------------------------------*/

@media (max-width: 768px) {
	.navbar .botonburguer {
		display: flex;
		align-items: center;
	}

	.navbar {
		flex-direction: column;
		align-items: flex-start;
		padding: 0px;
		height: 56px;
	}

	.menu-container {
		width: 100%;
	}
	.navbar .nav-title {
		display: flex;
		width: 100%;
		padding: 4px 8px 4px 16px;
		justify-content: space-between;
		align-items: center;
	}

	.navbar ul {
		display: none;
		width: 100%;
		margin-bottom: 0.25rem;
	}
	.navbar ul li {
		text-align: center;
	}
	.navbar ul li a {
		align-items: center;
	}

	.navbar .open {
		display: flex;
		align-items: center;
		flex-direction: column;
		transform: translateX(0);
		padding: 10px;
		background-color: var(--light-gray);
		gap: 10px;
	}
}
