*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
 }
 /*dejar en color el boton que este activado
 .active{
    background-color: rgb(165, 254, 241);
 }
*/
#navbar{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: 4rem;
    padding: 1rem 0.2rem 1rem 1rem;
    margin: .3rem;
    text-decoration: none;
    font-family: 'Montserrat', sans-serif;
    font-size: small;
    position: sticky;
   

    
}
#navbar ul li{
    list-style: none;
    background-color: rgb(255, 255, 255);
}
#navbar ul li a{
    text-decoration: none;
    color: black;
    list-style: none;
    display: block;
    padding: 0.5rem;
    margin: 0.5rem;
    border-radius: 0.5rem;
}
/*se activa cuando ponemos ncima el muse 
poner el pantone aecuado*/
#navbar ul li a:hover{
    background-color: rgb(12, 248, 244);
    color: white;
}
/*
aplica el estilo si el elmento no es el que est aactivado
#navbar ul li a:not(.activate):hover{
    background-color: rgb(12, 248, 244);
}
*/

nav.menu{
    display: none;
    position: absolute;
    top: 0.75rem;
    right: 0.5rem;
    flex-direction: column;
    justify-content: space-between;
    width: 2.30rem;
    height: 2rem;
}
nav .menu .logo{
    height: 2rem;
    width: 100%;
    background-color: #050000;
    border-radius: 1rem;
}
@media (max-width: 480px){
    #navbar{
        padding: 0%;

    }
    nav .menu{
        display: flex;
    }
    nav{
        flex-direction: column;
        align-items: center;
    }
    nav ul{
       display: none;
        flex-direction: column;
        width: 100%;
        margin-bottom: 0.30rem;
    }
    nav ul .open{
        display: flex;
    }
    nav ul li{
        width: 100%;
        text-align: center;
    }
    nav ul li a{
        margin: 0.2rem 0.5rem;
    }
}

