footer {
	background-color: var(--light-gray);
	font-size: 14px;
	width: 100%;
	padding: 16px;
	display: flex;
	flex-direction: column;
	align-items: flex-start;
	gap: 8px;
	box-shadow: 0px -1px 6px 1px rgba(69, 161, 150, 0.2);
}

.footer-item {
	display: inline-flex;
	align-items: center;
	flex: 0 0 auto;
	gap: 2px;
	font-size: 14px;
	font-weight: 400;
	line-height: 22px;
	letter-spacing: 0.35px;
}

.footer-inline {
	display: flex;
	flex-direction: column;
	gap: 6px;
}

.footer-location {
	align-items: flex-start;
}

.footer-social-media {
	width: 100%;
	text-align: center;
	display: inline-flex;
	justify-content: center;
	align-items: center;
	gap: 8px;
	margin-top: 8px;
}

.footer-logo {
	display: flex;
	justify-content: flex-start;
	align-items: center;
	gap: 12px;
	margin-bottom: 8px;
}

.footer-logo-detail {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: flex-start;
	gap: 2px;
}

.footer-logo-detail img {
	padding: 4px 0px;
}

.footer-slogan {
	font-size: 12px;
	font-weight: 400;
	line-height: 16px; /* 133.333% */
	letter-spacing: 0.12px;
}

@media (min-width: 768px) {
	footer {
		width: 100%;
		padding: 40px;
		display: grid;
		grid-template-columns: repeat(4, 1fr);
		justify-items: stretch;
		align-items: center;
		gap: 20px;
	}
	.footer-item {
		font-size: 14px;
		font-weight: 400;
		line-height: 22px; /* 157.143% */
		letter-spacing: 0.35px;
	}

	.footer-inline {
		display: flex;
		gap: 0px;
	}

	.footer-social-media {
		width: 100%;
		text-align: unset;
		display: inline-flex;
		justify-content: flex-end;
		align-items: center;
		gap: 8px;
		margin-top: 0;
	}
}
