.conteiner-contacto {
    padding: .25rem 2.5rem;
    max-width: 85%;
    margin: auto;
    justify-content: space-between; 
   
  }

  
  /* etiquetas de los inputs */
  .formulario label {
    display: block;
    margin-bottom: .5rem;
   
  }
  
  /* inputs */
  .formulario input {
    width: 95%;
    height: 3rem;
    padding: 0.8rem;
    margin-bottom: 0.98rem;
    background-color: var(--primary-3, #F4FAFA);
    border-radius: 0.25rem;
    border:  0.125rem solid #45A196;
    box-sizing: border-box;
  }
  #mensaje-conteiner{
    display: flex;
    height: 12.5rem;
    gap: 0.625rem;
    align-self: stretch;
  }
  ::placeholder {
    font-size: 15px;
  }
  /*  botón de enviar */

  .contacto-button {
    background-color: #45a196;
    border: 2px solid var(--primary, );
    padding: 8px 16px;
    transform: skew(-20deg);
    -webkit-transform: skew(-20deg);
    -moz-transform: skew(-20deg);
    -o-transform: skew(-20deg);
    box-shadow: 2px 2px 2px 1px rgba(1, 26, 23, 0.4);
  }

  .contacto-button-text {
    color: var(--primary-3, #F4FAFA);
    transform: skew(20deg);
    -webkit-transform: skew(20deg);
    -moz-transform: skew(20deg);
    -o-transform: skew(20deg);
    font-size: 14px;
    font-weight: 500;
    line-height: 19.6px; /* 140% */
    letter-spacing: 1.25px;
    
  }
  
  @media (max-width: 768px) {

    ::placeholder{
        font-size: 11px;
    }
    .contacto-button {
        background-color: #45a196;
      }
  }

  