.slider-opinions-conteiner{
	align-items: center;
	padding: 0 1rem 0.2rem 0rem ;
	height: fit-content;
	background-color: #F4FAFA;
}

.slide-opinion {
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
	width: 96%;
}

.slide-opinion img {
	display: block;
	padding-bottom: 0rem;
}

@media (min-width: 768px) {
	.slider-opinions-conteiner{
		display: none;
	}
}