.slider-opinions-conteiner{
	align-items: center;
	margin: -4rem;
	padding: 2rem 1.8rem 2rem 1.8rem;
	height: fit-content;
	background-color: #F4FAFA;
}


.slide-opinion {
	/* Center slide text vertically */
	display: flex;
	justify-content: center;
	align-items: center;
	height: fit-content;
}

.slide-opinion img {
	display: block;
	width:90%;
	padding-bottom: 0rem;
}