.button {
	height: 50px;
	padding: 8px 24px;
	display: flex;
	justify-content: center;
	align-items: center;
	gap: 10px;
	border: 0px;
	box-shadow: 2px 2px 2px 1px rgba(1, 26, 23, 0.4);
	transform: skew(-20deg);
	-webkit-transform: skew(-20deg);
	-moz-transform: skew(-20deg);
	-o-transform: skew(-20deg);
	cursor: pointer;
}

.button .button-text {
	font-size: 14px;
	font-weight: 500;
	letter-spacing: 1.25px;
	line-height: 19.6px;
	position: relative;
	white-space: nowrap;
	width: fit-content;
	transform: skew(20deg);
	-webkit-transform: skew(20deg);
	-moz-transform: skew(20deg);
	-o-transform: skew(20deg);
}

.button.default {
	background-color: var(--primary);
}

.button.variant-2 {
	background-color: var(--white);
}

.button.default .button-text {
	color: var(--white);
}

.button.variant-2 .button-text {
	color: var(--black);
}
