:root {
	--black: #011a17;
	--primary: #45a196;
	--light-green: #dbf0ed;
	--light-gray: #f4fafa;
	--gray: ##eef0f0;
	--white: #f9fffe;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--black);
	background-color: var(--white);
	font-family: "Montserrat", sans-serif;
	font-size: 14px;
	font-style: normal;
	font-weight: 400;
}

a {
	text-decoration: none;
}

@media (min-width: 768px) {
	body {
		font-size: 1rem;
	}
}
