:root {
	--black: #011a17;
	--primary: #45a196;
	--light-green: #dbf0ed;
	--light-gray: #d6e8e6;
	--white: #f9fffe;
}

* {
	margin: 0;
	padding: 0;
	box-sizing: border-box;
}

body {
	color: var(--black);
	background-color: white;
	font-family: "Montserrat", sans-serif;
	font-size: 1rem;
	font-style: normal;
	font-weight: 400;
}

a {
	text-decoration: none;
}
