.respuestaConteiner{
  padding: .25rem 2.5rem;
  border: none;
}

.tituleConteiner{
    color: var(--Black, #011A17);
    font-family: "Montserrat", sans-serif; /*checar si esta tomando la tipografìa*/
    font-size: 2.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 2.975rem; /* 140% */
    padding: .25rem 2.5rem;
    max-width: 85%;
    margin: auto;
}
.pregunta {
    padding: .6rem;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 0.625rem;
    align-self: stretch;
    background: var(--primary-10, #DBF0ED);
    color: var(--Black, #011A17);
    font-family: Montserrat;
    font-size: 1.125rem;
    font-style: normal;
    font-weight: 500;
    line-height: 1.375rem;
   
}
.respuesta {
    background-color: #fff;
    
    color: var(--Black, #011A17);
    cursor: pointer;
    font-family: Montserrat;
    font-size: 1rem;
    font-style: normal;
    font-weight: 400;
    line-height: 1.75rem; /* 175% */
    padding: .6rem;
    border: #fff;
    
    
}
.mensajes-texto{
    color: var(--Black, #011A17);
    font-family: "Montserrat", sans-serif;
    font-size: .9rem;
    font-style: normal;
    font-weight: 100;
    line-height: 1.75rem;
    padding-bottom: 1rem;
    padding: .6rem;
  }

  @media  (max-width: 768px) {
    
    .respuesta-desktop {
        display: none; /* oculta en dispositivos de escritorio */
      }
      .respuesta {
        border: #fff;
        
      }
      
  }
