.thumbs-swiper-container {
	display: flex;
	flex-direction: column;
	gap: 20px;
	width: 100%;
}

.thumbs-swiper-galery {
	width: 100%;
	max-width: 500px;
	/* max-height: 500px; */
	padding-bottom: 10px;
}

.thumbs-swiper-thumbs {
	width: 100%;
	max-width: 500px;
	display: flex;
	flex-direction: column;
	margin-bottom: 0px;
	padding-bottom: 0px;
	max-height: 100px;
}

.thumbs-swiper-thumb {
	max-width: 100px;
	max-height: 100px;
	display: flex;
	justify-content: stretch;
}

.thumbs-swiper-thumb img {
	height: 100%;
	width: 100%;
	max-width: 100px;
	max-height: 100px;
	overflow: visible;
	padding: 0px;
}

.swiper-slide-thumb-active {
	border-radius: 1px;
	border: 3px solid var(--Primary, #45a196);
}

@media (max-width: 1024px) {
	.thumbs-swiper-thumbs {
		display: none;
	}
}
